/* Import fonts */
@font-face {
	font-family: "ChirpExtendedWebHeavy";
	src: url("../fonts/chirp-extended-heavy-web.woff") format("woff");
}

@font-face {
	font-family: "ChirpWebBold";
	src: url("../fonts/chirp-bold-web.woff") format("woff");
}

@font-face {
	font-family: "ChirpWebMedium";
	src: url("../fonts/chirp-regular-web.woff") format("woff");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	width: 100%;
	background-color: black;
}
.container {
	-ms-flex-align: stretch;
	-ms-flex-direction: column;
	-ms-flex-negative: 0;
	-ms-flex-preferred-size: auto;
	-webkit-align-items: stretch;
	-webkit-box-align: stretch;
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	-webkit-flex-basis: auto;
	-webkit-flex-direction: column;
	-webkit-flex-shrink: 0;
	align-items: stretch;
	border: 0 solid black;
	box-sizing: border-box;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-basis: auto;
	flex-direction: column;
	flex-shrink: 0;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	min-height: 0px;
	min-width: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	position: relative;
	z-index: 0;
}
.absolute {
	position: absolute;
}
.all-0 {
	bottom: 0px;
	left: 0px;
	right: 0px;
	top: 0px;
}
.flex {
	-ms-flex: 1 1 0%;
	-webkit-flex: 1;
	flex: 1;
}
.flex-auto {
	flex: 1 1 auto;
}
.flex-wrap {
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}
.flex-grow {
	-webkit-box-flex: 1;
	flex-grow: 1;
}
.flex-shrink {
	flex-shrink: 1;
}
.flex-direction-row {
	-webkit-box-direction: normal;
	-webkit-box-orient: horizontal;
	flex-direction: row;
}
.row-reverse {
	-webkit-box-direction: reverse;
	-webkit-box-orient: horizontal;
	flex-direction: row-reverse;
}
.min-h-auto {
	min-height: auto;
}
.justify-center {
	-webkit-box-pack: center;
	justify-content: center;
}
.padding-16 {
	padding: 16px;
}
.padding-20 {
	padding: 20px;
}
.py-12 {
	padding-bottom: 12px;
	padding-top: 12px;
}
.px-16 {
	padding-left: 16px;
	padding-right: 16px;
}
.w-full {
	width: 100%;
}
.h-full {
	height: 100%;
}
.overflow-hidden {
	overflow: hidden;
}
.min-h-45 {
	min-height: 45vh;
}

.small-logo {
	padding-bottom: 12px;
	height: 3rem;
	color: #d6d9db;
	align-self: flex-start;
	user-select: none;
	vertical-align: text-bottom;
	max-width: 100%;
	fill: currentcolor;
	display: inline-block;
}

.title-container {
	color: #e7e9ea;
	font-family: ChirpExtendedWebHeavy, -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	line-height: 84px;
	letter-spacing: -1.2px;
	font-size: 64px;
	font-weight: 700;
	word-wrap: break-word;
	margin-bottom: 48px;
	margin-top: 48px;
}
.title {
	color: inherit;
	font: inherit;
	white-space: inherit;
}

.subtitle-container {
	color: #e7e9ea;
	font-family: ChirpExtendedWebHeavy, -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	margin-bottom: 32px;
	line-height: 36px;
	font-size: 31px;
	font-weight: 700;
}
.subtitle {
	color: inherit;
	font: inherit;
	white-space: inherit;
}

.bg {
	background-image: url("../img/background.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.bg-color-blue {
	background-color: rgb(29, 155, 240);
}

.links {
	transition-duration: 100ms;
	transition-property: margin-bottom;
}
.links-tag {
	color: rgb(113, 118, 123);
	padding-right: 16px;
	line-height: 16px;
	font-size: 13px;
	cursor: pointer;
	word-wrap: break-word;
	font-weight: 400;
	font-family: ChirpWebMedium, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Helvetica, Arial, sans-serif;
	margin-bottom: 4px;
	margin-top: 4px;
}
